.bottom-nav {
  display: none;
  width: 100%;
  background-color: rgba($color-white, 0.9);
  padding: 0 0.8rem;
  border-top: 1px solid #f8fafc;

  position: sticky;
  bottom: 0;
  z-index: 10;

  justify-content: space-around;
  gap: 0.8rem;

  @include respond(tablet) {
    display: flex;
  }

  .nav__item {
    flex: 1 0 auto;
    padding: 1.2rem 0.4rem;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
